a {
  cursor: pointer;
}

mat-icon {
  width: auto;
  margin-right: 2px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  
  fs-label-field {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
