<div class="fields">
  <fs-label-field>
    <fs-label>
      <mat-icon inline="true">
        email
      </mat-icon>
      Email
    </fs-label>
    @if (email) {
      {{ email }}
    }
    @if (!email) {
      No email
    }
  </fs-label-field>
  @if (passwordBehavior !== 'none') {
    <fs-label-field>
      <fs-label>
        <mat-icon inline="true">
          vpn_key
        </mat-icon>
        Password
      </fs-label>
      @if (passwordBehavior === 'change') {
        <a
          (click)="onChangePassword()">
          Change password
        </a>
      }
      @if (passwordBehavior === 'reset') {
        <a
          (click)="onResetPassword()">
          Reset password
        </a>
      }
      @if (passwordBehavior === 'deleted') {
        <span>
          Account deleted
        </span>
      }
    </fs-label-field>
  }
  <fs-label-field>
    <fs-label>
      {{ lastSignInLabel }}
    </fs-label>
    {{ date }}
  </fs-label-field>
</div>