.password-toggle {
  ::ng-deep {
    .mdc-form-field {
      align-items: flex-start;

      button {
        margin-top: 10px;
      }
    }
  }
}

mat-dialog-content {
  overflow: initial;
  max-width: 100%;
}

::ng-deep {
  mat-form-field, fs-label-field {
    mat-icon {
      cursor: pointer;
    }
  }

  mat-form-field.password-field {
    .fs-form-message {
      overflow: visible;
      .fs-form-error {
        white-space: nowrap;
      }
    }
  }
}

mat-slide-toggle + mat-slide-toggle {
  display: block;
  margin-top: 10px;
}


:host {
  ::ng-deep {
    .mdc-form-field {
      button {
        margin-right: 10px;
      }
    }
  }
}