<form (fsForm)="save()" #form="ngForm" [dirtySubmitButton]="false">
  <div mat-dialog-title>Reset Password</div>
  <mat-dialog-content>
    <div fxLayout="column">
      <mat-slide-toggle
        [(ngModel)]="password"
        (ngModelChange)="generatePassword()"
        color="primary"
        name="password">
        Automatically generate new password
      </mat-slide-toggle>

      <div class="password">
        <fs-label-field *ngIf="password">
          <fs-label>Generated Password</fs-label>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <span>{{ shouldObfuscatePassword ? passwordMask : newGeneratedPassword }}</span>
            <ng-template
              [ngTemplateOutlet]="passwordActionsTemplate"
              [ngTemplateOutletContext]="{ obfuscate: shouldObfuscatePassword, copyPassword: newGeneratedPassword }">
            </ng-template>
            <mat-icon *ngIf="!shouldObfuscatePassword || showCopyIcon" ngxClipboard [cbContent]="newGeneratedPassword">content_copy</mat-icon>
          </div>
        </fs-label-field>

        <mat-form-field *ngIf="!password" fxFlex>
          <input
            matInput
            [(ngModel)]="newCustomPassword"
            [fsFormMinLength]="minLength"
            [type]="shouldObfuscatePassword ? 'password' : 'text'"
            placeholder="Customized Password"
            [fsFormRequired]="true"
            name="newCustomPassword">
            <ng-template
              matSuffix
              [ngTemplateOutlet]="passwordActionsTemplate"
              [ngTemplateOutletContext]="{ obfuscate: shouldObfuscatePassword, copyPassword: newCustomPassword }">
            </ng-template>
        </mat-form-field>
      </div>

      <mat-slide-toggle
        [(ngModel)]="emailPassword"
        color="primary"
        name="email_password">
        Email {{ password ? 'newly generated' : 'customized' }} password to {{ email }}
      </mat-slide-toggle>

      <mat-slide-toggle
        [(ngModel)]="changePassword"
        color="primary"
        name="change_password">
        After sign-in force user to create new password
      </mat-slide-toggle>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" color="primary">Reset Password</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </mat-dialog-actions>
</form>

<ng-template #passwordActionsTemplate let-obfuscate="obfuscate" let-copyPassword="copyPassword">
  <ng-container *ngIf="obfuscate; then visiblePasswordTemplate; else unvisiblePasswordTemplate "></ng-container>

  <ng-template #visiblePasswordTemplate>
    <mat-icon (click)="toggleShouldObfuscatePassword()"> visibility </mat-icon>
  </ng-template>

  <ng-template #unvisiblePasswordTemplate>
    <mat-icon (click)="toggleShouldObfuscatePassword()">visibility_off</mat-icon>
  </ng-template>
</ng-template>
