:host {
  a {
    cursor: pointer;
  }

  ::ng-deep {
    mat-form-field {
      .mat-form-field-underline {
        display: none;
      }
    }
  }

  .label {
    color: #999;
    display: block;
    top: 0;
    transform: scale(.75);
    transform-origin: 0 0;
    position: relative;
  }
}
