:host {
  // For some reason dialog scroll behave strange with mat-slide component
  .mat-dialog-content {
    overflow: initial;
    padding-bottom: 10px;
  }
  .password {
    margin-left: 44px;
  }
  ::ng-deep {
    mat-form-field, fs-label-field {
      mat-icon {
        cursor: pointer;
      }
    }
  }
}
