<form (fsForm)="save()">
  <div mat-dialog-title>Reset Password</div>
  <mat-dialog-content>
    <div fxLayout="column">
      <mat-slide-toggle color="primary" [(ngModel)]="password" (ngModelChange)="generatePassword()" name="password">Automatically generate new password</mat-slide-toggle>

      <div class="password">
        <fs-label-field *ngIf="password">
          <fs-label>Generated Password</fs-label>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <span>{{ shouldObfuscatePassword ? passwordMask : newGeneratedPassword }}</span>
            <ng-template
              [ngTemplateOutlet]="passwordActionsTemplate"
              [ngTemplateOutletContext]="{ obfuscate: shouldObfuscatePassword, password: newGeneratedPassword }">
            </ng-template>
          </div>
        </fs-label-field>

        <mat-form-field *ngIf="!password" fxFlex>
          <input
            matInput
            [(ngModel)]="newCustomPassword"
            [fsFormMinLength]="minLength"
            [type]="shouldObfuscatePassword ? 'password' : 'text'"
            placeholder="Customized Password"
            [fsFormRequired]="true"
            name="new_custom_password">
            <ng-template
              matSuffix
              [ngTemplateOutlet]="passwordActionsTemplate"
              [ngTemplateOutletContext]="{ obfuscate: shouldObfuscatePassword, password: newCustomPassword }">
            </ng-template>
        </mat-form-field>
      </div>

      <mat-slide-toggle color="primary" [(ngModel)]="emailPassword" name="email_password">Email {{ password ? 'newly generated' : 'customized' }} password to {{ email }}</mat-slide-toggle>
      <mat-slide-toggle color="primary" [(ngModel)]="changePassword" name="change_password">After sign-in force user to create new password</mat-slide-toggle>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">RESET PASSWORD</button>
    <button mat-button color="primary" mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
</form>


<ng-template #passwordActionsTemplate let-obfuscate="obfuscate" let-password="password">
  <mat-icon (click)="shouldObfuscatePassword = !shouldObfuscatePassword">{{ shouldObfuscatePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
  <mat-icon ngxClipboard [cbContent]="password" (click)="clipboard()">content_copy</mat-icon>
</ng-template>
